var config = {};

// Setup Base Config Objects
config.app = {};
config.twitch = {};
config.discord = {};
config.beam = {};

// Define App Details
config.app.admins = [];
config.app.port = 8000;
config.app.baseurl = "http://localhost:" + config.app.port;

// Setup Auth Objects
config.twitch.auth = {};
config.discord.auth = {};
config.beam.auth = {};

// Define Bot Chat Logins
config.twitch.bot = "";
config.discord.bot = "";
config.discord.bot_id = "";
config.beam.bot = "";

// Define Twitch Auth
config.twitch.auth.cid = "";
config.twitch.auth.secret = "";
config.twitch.auth.redirect = config.app.baseurl + "/auth/login/twitch/";
config.twitch.auth.authurl = "https://api.twitch.tv/kraken/oauth2/authorize?response_type=code&client_id=" + config.twitch.auth.cid + "&redirect_uri=" + config.twitch.auth.redirect + "&force_verify=true&scope=user_read+channel_subscriptions+channel_editor+channel_commercial";

// Define Discord Auth
config.discord.auth.cid = "";
config.discord.auth.secret = "";
config.discord.auth.redirect = config.app.baseurl + "/auth/login/discord/";
config.discord.auth.authurl = "https://discordapp.com/api/oauth2/authorize?client_id=" + config.discord.auth.cid + "&scope=identify+bot+guilds&response_type=code&permissions=0";

// Define Beam Auth
config.beam.auth.cid = "";
config.beam.auth.secret = "";
config.beam.auth.redirect = config.app.baseurl + "/auth/login/beam/";
config.beam.auth.authurl = "https://beam.pro/oauth/authorize?response_type=code&client_id=" + config.beam.auth.cid + "&redirect_uri=" + config.beam.auth.redirect + "&scope=channel:details:self";

// Export Config
module.exports = config;
