{% include "./header.html" %}
<div class="row">
  <div class="col s10 offset-s1 teal lighten-5" style="border-radius:20px; margin-top:15px; padding: 15px;">
    <p>Below are all the features that HeepsBot currently has on Discord. Choose one to edit its settings!</p>
  </div>
</div>
<div class="row">
  <div class="col s4 offset-s1 blue darken-4" style="border-radius:20px;">
    <center>
      <a href="./alerts/"><h3 class="white-text">Chat Alerts</h3></a>
    </center>
  </div>
  <div class="col s4 offset-s1 blue darken-4" style="border-radius:20px;">
    <center>
      <a href="./commands/"><h3 class="white-text">User-Levels</h3></a>
    </center>
  </div>
</div>
<div class="row">
  <div class="col s4 offset-s2 blue darken-4" style="border-radius:20px;">
    <center>
      <a href="./logs/"><h3 class="white-text">Logs</h3></a>
    </center>
  </div>
  <div class="col s4 offset-s1 blue darken-4" style="border-radius:20px;">
    <center>
      <a href="./poll/"><h3 class="white-text">Poll</h3></a>
    </center>
  </div>
</div>
<div class="row">
  <div class="col s4 offset-s2 blue darken-4" style="border-radius:20px;">
    <center>
      <a href="./raffle/"><h3 class="white-text">Raffle</h3></a>
    </center>
  </div>
  <div class="col s4 offset-s1 blue darken-4" style="border-radius:20px;">
    <center>
      <a href="./spam/"><h3 class="white-text">Spam Protection</h3></a>
    </center>
  </div>
</div>

{% include "./footer.html" %}
