{% include "./header.html" %}

<div class="row">
  <div class="col s10 offset-s1 white center" style="border-radius:20px; margin-top:15px; padding: 15px; color: #388E3C;">
    <p>HopefulBot uses numbers to represent a users permissions. The smaller the number, the more power it grants. What each number represents is preset, but you can assign different roles to users to assign some if these user levels. For example, you can make a user a "regular" to grant them level 600.</p>
  </div>
</div>
<div class="row">
  <div class="col s10 offset-s1">
    <table class="bordered highlight">
      <thead>
        <th>Number</th>
        <th>Twitch</th>
        <th>Discord</th>
        <th>Beam</th>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Heep</td>
          <td>Heep</td>
          <td>Heep</td>
        </tr>
        <tr>
          <td>50</td>
          <td>Bot Admins</td>
          <td>Bot Admins</td>
          <td>Bot Admins</td>
        </tr>
        <tr>
          <td>100</td>
          <td>Twitch Staff</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>200</td>
          <td>Twitch Admins</td>
          <td>Server Owner</td>
          <td></td>
        </tr>
        <tr>
          <td>250</td>
          <td>Twitch Global Moderators</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>300</td>
          <td>Broadcaster</td>
          <td>Bot Manager</td>
          <td>Broadcaster</td>
        </tr>
        <tr>
          <td>400</td>
          <td>Bot Editors</td>
          <td>Bot Editors Role</td>
          <td>Bot Editors</td>
        </tr>
        <tr>
          <td>500</td>
          <td>Moderators</td>
          <td>Moderators Role</td>
          <td>Moderators</td>
        </tr>
        <tr>
          <td>600</td>
          <td>Bot Regulars</td>
          <td>Regulars Role</td>
          <td>Bot Regulars</td>
        </tr>
        <tr>
          <td>700</td>
          <td>Twitch Subscribers</td>
          <td>Subscribers Role</td>
          <td>Pro Users</td>
        </tr>
        <tr>
          <td>750</td>
          <td>Twitch Turbo/Prime Users</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>800</td>
          <td>All Users</td>
          <td>All Users</td>
          <td>All Users</td>
        </tr>
        <tr>
          <td>900</td>
          <td>Restricted Users</td>
          <td>Restricted Users</td>
          <td>Restricted Users</td>
        </tr>
        <tr>
          <td>950</td>
          <td>Globally Restricted Users</td>
          <td>Globally Restricted Users</td>
          <td>Globally Restricted Users</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% include "./footer.html" %}
