{% include "./header.html" %}

<div class="row" style="margin-top:15px;">
  <div class="col s12">
    <ul class="tabs" style="overflow:hidden;">
      <li class="tab col s3"><a href="#general">General</a></li>
      <li class="tab col s4"><a href="#twitch">Twitch</a></li>
      <li class="tab col s4"><a href="#discord">Discord</a></li>
      <li class="tab col s4"><a href="#beam">Beam</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div id="general" class="col s12">Twitch</div>
  <div id="twitch" class="col s12">Twitch</div>
  <div id="discord" class="col s12">Discord</div>
  <div id="beam" class="col s12">Beam</div>
</div>

{% include "./footer.html" %}
