<html>
  <head>
    <title>Heepsbot: {{title}}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link rel="shortcut icon" href="/img/icon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  </head>
  {% if theme == "Twitch" %}
  <body class="deep-purple lighten-4">
  {% elseif theme == "Discord" %}
  <body class="blue lighten-4">
  {% elseif theme == "Beam" %}
  <body class="indigo lighten-4">
  {% else %}
  <body class="grey lighten-4">
  {% endif %}
    <div class="nav">
      {% if loggedin %}
      {% if theme == "Twitch" %}
      <ul id="dropdown-logout" class="dropdown-content deep-purple darken-2">
      {% elseif theme == "Discord" %}
      <ul id="dropdown-logout" class="dropdown-content blue darken-2">
      {% elseif theme == "Beam" %}
      <ul id="dropdown-logout" class="dropdown-content indigo darken-2">
      {% else %}
      <ul id="dropdown-logout" class="dropdown-content grey darken-2">
      {% endif %}
        <li><a class="white-text" href="/link/">Link Accounts</a></li>
        <li><a class="white-text" href="/auth/logout/">Logout</a></li>
      </ul>
      {% endif%}
      {% if theme == "Twitch" %}
      <ul id="dropdown-docs" class="dropdown-content deep-purple darken-2">
      {% elseif theme == "Discord" %}
      <ul id="dropdown-docs" class="dropdown-content blue darken-2">
      {% elseif theme == "Beam" %}
      <ul id="dropdown-docs" class="dropdown-content indigo darken-2">
      {% else %}
      <ul id="dropdown-docs" class="dropdown-content grey darken-2">
      {% endif %}
        <li><a class="white-text" href="/docs/web/">Web Panel</a></li>
        <li><a class="white-text" href="/docs/commands/">Chat Controls</a></li>
        <li><a class="white-text" href="/docs/userlevels/">User Levels</a></li>
        <li><a class="white-text" href="/docs/variables/">Variables</a></li>
      </ul>
      {% if theme == "Twitch" %}
      <nav class="deep-purple darken-2">
      {% elseif theme == "Discord" %}
      <nav class="blue darken-2">
      {% elseif theme == "Beam" %}
      <nav class="indigo darken-2">
      {% else %}
      <nav class="grey darken-2">
      {% endif %}
        <div class="nav-wrapper">
          <ul class="center">
            <li><a href="/">Home</a></li>
            <li><a class="dropdown-button" href="#!" data-activates="dropdown-docs">Documentation</a></li>
            {%if loggedin%}
            <li><a href="/settings/{{loggedin}}/">Settings</a></li>
            <li><a href="/logs/{{loggedin}}/">Logs</a></li>
            {%endif%}
            <li><a href="https://github.com/Heep123/Heepsbot-V2">GitHub</a></li>
          </ul>
          <ul class="right">
            {%if !loggedin%}
            <li><a href="/signup/">Log In/Sign Up</a></li>
            {%else%}
            <li><a class="dropdown-button" href="#!" data-activates="dropdown-logout">{{display_name}}</a></li>
            {%endif%}
          </ul>
        </div>
      </nav>
    </div>
