<html>
<head>
  <title>HeepsBot: {{title}}</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <link rel="shortcut icon" href="/img/icon.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/css-toggle-switch/latest/toggle-switch.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/6.0.0/markdown-it.js"></script>
  <script src="/js/site.js"></script>
</head>
{% if theme == "Twitch" %}
<body class="deep-purple lighten-4 twitch-body-theme">
{% elseif theme == "Discord" %}
<body class="blue lighten-4">
{% else %}
<body class="teal lighten-4">
{% endif %}
  <div class="nav">
    {% if loggedin %}
    {% if theme == "Twitch" %}
    <ul id="dropdown-logout" class="dropdown-content deep-purple lighten-2">
    {% elseif theme == "Discord" %}
    <ul id="dropdown-logout" class="dropdown-content blue lighten-2">
    {% else %}
    <ul id="dropdown-logout" class="dropdown-content teal lighten-2">
    {% endif %}
      <li><a class="white-text" href="/auth/logout/">Logout</a></li>
    </ul>
    {% endif%}
    {% if theme == "Twitch" %}
    <nav class="purple darken-4">
    {% elseif theme == "Discord" %}
    <nav class="blue darken-4">
    {% else %}
    <nav class="teal darken-4">
    {% endif %}
      <div class="nav-wrapper">
        <ul class="center">
          <li><a href="/">Home</a></li>
          <li><a href="/help/">Help</a></li>
          <li><a href="https://github.com/Heep123/Heepsbot-V2">GitHub</a></li>
          {%if loggedin%}
          <li><a href="/dashboard/">Dashboard</a></li>
          <li><a href="/dashboard/{{username}}/security/">Security</a></li>
          {%endif%}
        </ul>
        <ul class="right">
          {%if !loggedin%}
          <li><a href="{{authurl}}">Login</a></li>
          {%else%}
          <li><a class="dropdown-button" href="#!" data-activates="dropdown-logout">{{loggedin}}</a></li>
          {%endif%}
        </ul>
      </div>
    </nav>
  </div>
