{% include "./header.html" %}
<div class="row">
  <div class="col s10 offset-s1 grey lighten-2 center" style="border-radius:20px; margin-top:15px; padding: 15px;">
    <p>To login to another account, please use an existing Twitch/Discord/Beam account by clicking the relevant link below.</p>
  </div>
</div>
<div class="row">
  <div class="col s4 offset-s1 deep-purple darken-4 center" style="border-radius:20px; padding: 5px;">
    {% if twitch %}
    <h3 id="discord" class="white-text">Twitch: {{twitch}}</h3>
    {% if discord || beam %}
    <a href="javascript:;" id="unlink-twitch" class="white-text" data-id="{{loggedin}}">(Unlink)</a>
    {% endif %}
    {% else %}
    <h3><a id="twitch" class="white-text" href='{{twitch_authurl}}' data-activates='dashboard-twitch'>Twitch</a></h3>
    {% endif %}
  </div>
  <div class="col s4 offset-s2 blue darken-4 center" style="border-radius:20px; padding: 5px;">
    {% if discord %}
    <h3 id="discord" class="white-text">Discord: {{discord}}</h3>
    {% if twitch || beam %}
    <a href="javascript:;" id="unlink-discord" class="white-text" data-id="{{loggedin}}">(Unlink)</a>
    {% endif %}
    {% else %}
    <h3><a id="discord" class="white-text" href='{{discord_authurl}}' data-activates='dashboard-twitch'>Discord</a></h3>
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col s4 offset-s4 indigo darken-4 center" style="border-radius:20px; padding: 5px;">
    {% if beam %}
    <h3 id="discord" class="white-text">Beam: {{beam}}</h3>
    {% if twitch || discord %}
    <a href="javascript:;" id="unlink-beam" class="white-text" data-id="{{loggedin}}">(Unlink)</a>
    {% endif %}
    {% else %}
    <h3><a id="beam" class="white-text" href='{{beam_authurl}}' data-activates='dashboard-twitch'>Beam</a></h3>
    {% endif %}
  </div>
</div>
<script src="/js/link.js"></script>
{% include "./footer.html" %}
