{% include "./header.html" %}

<div class="container">
  <div class="row" style="margin-bottom: 10px;">
    <div class="col s12 m6 l4">
      <ul class="collection with-header">
        <li class="collection-header center"><h4>Twitch</h4></li>
        <li class="collection-item">Spam Protection</li>
        <li class="collection-item">Custom Commands</li>
        <li class="collection-item">Timed Messages</li>
        <li class="collection-item">General Use Commands</li>
        <li class="collection-item">API Commands</li>
        <li class="collection-item">Game Commands</li>
        <li class="collection-item">Poll</li>
        <li class="collection-item">Raffle</li>
        <li class="collection-item">Moderation Commands</li>
        <li class="collection-item">Chat Announcements</li>
        <li class="collection-item">Highlight Tracking</li>
        <li class="collection-item">Quotes System</li>
        <li class="collection-item">Points</li>
        <li class="collection-item">Song Requests</li>
        <li class="collection-item">Edit Twitch Title/Game</li>
      </ul>
    </div>
    <div class="col s12 m6 l4">
      <ul class="collection with-header">
        <li class="collection-header center"><h4>Discord</h4></li>
        <li class="collection-item">Spam Protection</li>
        <li class="collection-item">Custom Commands</li>
        <li class="collection-item">Timed Messages</li>
        <li class="collection-item">General Use Commands</li>
        <li class="collection-item">Server Commands</li>
        <li class="collection-item">Game Commands</li>
        <li class="collection-item">Poll</li>
        <li class="collection-item">Raffle</li>
        <li class="collection-item">Moderation Commands</li>
        <li class="collection-item">Quotes System</li>
        <li class="collection-item">Points</li>
      </ul>
    </div>
    <div class="col s12 m6 offset-m3 l4">
      <ul class="collection with-header">
        <li class="collection-header center"><h4>Beam</h4></li>
        <li class="collection-item">Spam Protection</li>
        <li class="collection-item">Custom Commands</li>
        <li class="collection-item">Timed Messages</li>
        <li class="collection-item">General Use Commands</li>
        <li class="collection-item">API Commands</li>
        <li class="collection-item">Game Commands</li>
        <li class="collection-item">Raffle</li>
        <li class="collection-item">Moderation Commands</li>
        <li class="collection-item">Highlight Tracking</li>
        <li class="collection-item">Quotes System</li>
        <li class="collection-item">Points</li>
      </ul>
    </div>
  </div>
  <div class="row center">
    <div class="col s12 m6 l4">
      {% if twitch_display_name %}
      <a class="btn-large purple darken-4 white-text" style="width: 100%; cursor: default;">Twitch: {{twitch_display_name}}</a>
      {% if discord_display_name || beam_display_name %}
      <a href="javascript:;" id="unlink-twitch" class="btn purple darken-4 white-text" style="margin-top: 2px;" data-id="{{loggedin}}">Unlink</a>
      {% endif %}
      {% else %}
      <a href="{{twitch_authurl}}" class="btn-large purple darken-4 white-text" style="width: 100%;">Link Twitch</a>
      {% endif %}
    </div>
    <div class="col s12 m6 l4">
      {% if discord_display_name %}
      <a class="btn-large blue darken-4 white-text" style="width: 100%; cursor: default;">Discord: {{discord_display_name}}</a>
      {% if twitch_display_name || beam_display_name %}
      <a href="javascript:;" id="unlink-discord" class="btn blue darken-4 white-text" style="margin-top: 2px;" data-id="{{loggedin}}">Unlink</a>
      {% endif %}
      {% else %}
      <a href="{{discord_authurl}}" class="btn-large blue darken-4 white-text" style="width: 100%;">Link Discord</a>
      {% endif %}
    </div>
    <div class="col s12 m6 offset-m3 l4">
      {% if beam_display_name %}
      <a class="btn-large indigo darken-4 white-text" style="width: 100%; cursor: default;">Beam: {{beam_display_name}}</a>
      {% if twitch_display_name || discord_display_name %}
      <a href="javascript:;" id="unlink-beam" class="btn indigo darken-4 white-text" style="margin-top: 2px;" data-id="{{loggedin}}">Unlink</a>
      {% endif %}
      {% else %}
      <a href="{{beam_authurl}}" class="btn-large indigo darken-4 white-text" style="width: 100%;">Link Beam</a>
      {% endif %}
    </div>
  </div>
  <script src="/js/link.js"></script>
</div>

{% include "./footer.html" %}
