{% include "./header.html" %}
<div class="row">
  <div class="col m3 l2 white" style="height: calc(100% - 64px); overflow: auto;">
    <div class="collection with-header">
      <h5 class="center">Navigation</h5>
      <a href="./twitch" class="collection-item black-text" style="border-top: 1px solid #e0e0e0;">Twitch Settings<img class="secondary-content" src="/img/twitch.png" style="height: 24px; width: 24px;" /></a>
      <a href="./discord" class="collection-item black-text">Discord Settings<img class="secondary-content" src="/img/discord.png" style="height: 24px; width: 24px;" /></a>
      <a href="./beam" class="collection-item black-text">Beam Settings<img class="secondary-content" src="/img/beam.png" style="height: 24px; width: 24px;" /></a>
    </div>
  </div>
  <div class="col m9 l10" style="overflow: auto;">
    <div class="white black-text center row" style="border-radius:20px; margin-top:15px; padding: 15px; border: 3px solid #fafafa;">
      <h4>Dashboard</h4>
      <p>User ID: <code>{{user._id}}</code></p>
      <br />
      <div class="col s12 l4" >
        <img src="/img/twitch.png" style="height: 100px; width: 100px;" />
        {% if user.twitch_id %}
        <p style="margin-top: 0;">{{twitch.display_name}}</p>
        <p style="margin-top: 0;">{{user.twitch_id}}</p>
        {% else %}
        <p style="margin-top: 0;">Not Connected</p>
        {% endif %}
      </div>
      <div class="col s12 l4" >
        <img src="/img/discord.png" style="height: 100px; width: 100px;" />
        {% if user.discord_id %}
        <p style="margin-top: 0;">{{user.discord_name}}</p>
        <p style="margin-top: 0;">{{user.discord_id}}</p>
        {% else %}
        <p style="margin-top: 0;">Not Connected</p>
        {% endif %}
      </div>
      <div class="col s12 l4" >
        <img src="/img/beam.png" style="height: 100px; width: 100px;" />
        {% if user.beam_id %}
        <p style="margin-top: 0;">{{beam.token}}</p>
        <p style="margin-top: 0;">{{user.beam_id}}</p>
        {% else %}
        <p style="margin-top: 0;">Not Connected</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% include "./footer.html" %}
