{% include "./header.html" %}
<div class="container">
  <div class="row" style="margin-bottom: 10px;">
    <div class="col s4">
      <ul class="collection with-header">
        <li class="collection-header center"><h4>Twitch</h4></li>
        <li class="collection-item">Spam Protection</li>
        <li class="collection-item">Custom Commands</li>
        <li class="collection-item">Timed Messages</li>
        <li class="collection-item">General Use Commands</li>
        <li class="collection-item">API Commands</li>
        <li class="collection-item">Game Commands</li>
        <li class="collection-item">Poll</li>
        <li class="collection-item">Raffle</li>
        <li class="collection-item">Moderation Commands</li>
        <li class="collection-item">Chat Announcements</li>
        <li class="collection-item">Highlight Tracking</li>
        <li class="collection-item">Quotes System</li>
        <li class="collection-item">Points</li>
        <li class="collection-item">Song Requests</li>
        <li class="collection-item">Edit Twitch Title/Game</li>
      </ul>
    </div>
    <div class="col s4">
      <ul class="collection with-header">
        <li class="collection-header center"><h4>Discord</h4></li>
        <li class="collection-item">Spam Protection</li>
        <li class="collection-item">Custom Commands</li>
        <li class="collection-item">Timed Messages</li>
        <li class="collection-item">General Use Commands</li>
        <li class="collection-item">Server Commands</li>
        <li class="collection-item">Game Commands</li>
        <li class="collection-item">Poll</li>
        <li class="collection-item">Raffle</li>
        <li class="collection-item">Moderation Commands</li>
        <li class="collection-item">Quotes System</li>
        <li class="collection-item">Points</li>
      </ul>
    </div>
    <div class="col s4">
      <ul class="collection with-header">
        <li class="collection-header center"><h4>Beam</h4></li>
        <li class="collection-item">Spam Protection</li>
        <li class="collection-item">Custom Commands</li>
        <li class="collection-item">Timed Messages</li>
        <li class="collection-item">General Use Commands</li>
        <li class="collection-item">API Commands</li>
        <li class="collection-item">Game Commands</li>
        <li class="collection-item">Raffle</li>
        <li class="collection-item">Moderation Commands</li>
        <li class="collection-item">Highlight Tracking</li>
        <li class="collection-item">Quotes System</li>
        <li class="collection-item">Points</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col s4">
      <a href="{{twitch_authurl}}" class="btn-large purple darken-4 white-text" style="width: 100%">Sign Up</a>
    </div>
    <div class="col s4">
      <a href="{{discord_authurl}}" class="btn-large blue darken-4 white-text" style="width: 100%">Sign Up</a>
    </div>
    <div class="col s4">
      <a href="{{beam_authurl}}" class="btn-large indigo darken-4 white-text" style="width: 100%">Sign Up</a>
    </div>
  </div>
</div>

{% include "./footer.html" %}
