{% include "./header.html" %}
<div class="row">
  <div class="col l4 offset-l1 col s10 offset-s1 deep-purple lighten-5" style="border-radius:20px; margin-top:15px; padding: 15px;">
    <h5 class="center">Editors</h5>
    {% if admin %}
    <hr />
    <div class="row">
      <div class="input-field col s6 offset-s1">
        <input id="new_editor" type="text" class="validate">
        <label for="new_editor">Add Editor</label>
      </div>
      <div class="col s2 offset-s1">
        <a class="btn green darken-4" style="margin-top:25px" id="add-editor" data-channel="{{username}}"><i class="fa fa-plus" aria-hidden="true"></i></a>
      </div>
    </div>
    {% endif %}
    <hr style="margin: 0"/>
    <table class="bordered">
      <tbody id="editors">
        {% for user in editors %}
        <tr id="{{regular}}" class="row" style="margin-top: 5px;">
          <td class="col s6 offset-s1" style="padding: 5px; margin-top: 8px;">{{user}}</td>
          {% if admin %}
          <td class="col s2 offset-s1" style="padding: 5px;"><a class="btn red darken-4 white-text modal-trigger" href="#modal-remove-editor-{{user}}"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
          {% endif %}
        </tr>
        {% if admin %}
        <div id="modal-remove-editor-{{user}}" class="modal">
          <div class="modal-content">
            <h4>Confirm Action</h4>
            <p>Are you sure you want to remove {{user}} as an editor?</p>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-close btn-flat white-text green darken-4">No</a>
            <a href="#!" class="modal-close btn-flat white-text red darken-4" id="remove-editor" data-user="{{user}}" data-channel="{{username}}">Yes</a>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col l4 offset-l2 col s10 offset-s1 deep-purple lighten-5" style="border-radius:20px; margin-top:15px; padding: 15px;">
    <h5 class="center">Regulars</h5>
    {% if editor %}
    <hr />
    <div class="row">
      <div class="input-field col s6 offset-s1">
        <input id="new_regular" type="text" class="validate">
        <label for="new_regular">Add Regular</label>
      </div>
      <div class="col s2 offset-s1">
        <a class="btn green darken-4" style="margin-top:25px" id="add-regular" data-channel="{{username}}"><i class="fa fa-plus" aria-hidden="true"></i></a>
      </div>
    </div>
    {% endif %}
    <hr style="margin: 0"/>
    <table class="bordered">
      <tbody id="regulars">
        {% for regular in regulars %}
        <tr id="{{regular}}" class="row" style="margin-top: 5px;">
          <td class="col s6 offset-s1" style="padding: 5px; margin-top: 8px;">{{regular}}</td>
          {% if editor %}
          <td class="col s2 offset-s1" style="padding: 5px;"><a class="btn red darken-4 white-text modal-trigger" href="#modal-remove-regular-{{regular}}"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
          {% endif %}
        </tr>
        {% if editor %}
        <div id="modal-remove-regular-{{regular}}" class="modal">
          <div class="modal-content">
            <h4>Confirm Action</h4>
            <p>Are you sure you want to remove {{regular}} as a regular?</p>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-close btn-flat white-text green darken-4">No</a>
            <a href="#!" class="modal-close btn-flat white-text red darken-4" id="remove-regular" data-user="{{regular}}" data-channel="{{username}}">Yes</a>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<script src="/js/users.js"></script>
{% include "./footer.html" %}
