{% include "./header.html" %}
<div class="row">
  <div class="col m3 hide-on-small">
    <div class="white center" style="border-radius:20px; margin-top:15px; padding: 15px;">
      <h4>{{owner}}'s Dashboard</h4>
      <a href="#modal-chat-logs" class="btn purple darken-4 white-text modal-trigger">Chat Logs</a> <a href="#modal-event-logs" class="btn purple darken-4 white-text modal-trigger">Event Logs</a>
    </div>
    {% if admin %}
      <div class="white center" style="border-radius:20px; margin-top:15px; padding: 15px;">
        <h5 class="center">Control Panel</h5>
        <a href="javascript:;" id="join-channel" class="btn purple darken-4 white-text">Join</a> <a href="javascript:;" id="part-channel" class="btn purple darken-4 white-text">Part</a><br /><br />
      </div>
    {% endif %}
    <div class="white" style="border-radius:20px; margin-top:15px; padding: 15px;">
      <h5 class="center">Chat Logs</h5>
      {% for log in logs %}
        <span><strong>{{log.display_name}}:</strong> {{log.content}}</span><br>
      {% endfor %}
    </div>
    <div class="white" style="border-radius:20px; margin-top:15px; padding: 15px;">
      <h5 class="center">Chat</h5>
      <iframe frameborder="0" scrolling="no" id="chat_embed" src="http://www.twitch.tv/{{owner}}/chat" height="400" width="100%"></iframe>
    </div>
    <div class="white" style="border-radius:20px; margin-top:15px; padding: 15px;">
      <h5 class="center">Heepsbot Statistics</h5>
      Soon™
    </div>
  </div>
  <div class="col m9 s12">
    <div class="white" style="border-radius:20px; margin-top:15px; padding: 15px;">
      <ul class="tabs">
        <li class="tab col s2"><a href="#tab-spam">Spam Protection</a></li>
        <li class="tab col s2"><a href="#tab-commands">Custom Commands</a></li>
        <li class="tab col s2"><a href="#tab-levels">User Levels</a></li>
        <li class="tab col s2"><a href="#tab-pollraffle">Poll/Raffle</a></li>
        <li class="tab col s2"><a href="#tab-fun">Fun Commands</a></li>
        <li class="tab col s2"><a href="#tab-points">Points</a></li>
      </ul>
      <div id="tab-spam">
        <h5 style="display: inline-block;">Spam Protection</h5>
        <table class="bordered">
          <thead class="row">
            <th class="col s10">Filter</th>
            <th class="col s2">Options</th>
          </thead>
          <tbody>
            <tr class="row">
              <td class="col s10" style="margin-top:15px; padding-bottom: 15px;">
                <strong>Link Protection</strong><br />
                This filter will delete any links posted to your channel. It is particularly useful for stopping malware spreading into your chat.
              </td>
              <td class="col s2" style="margin-top:15px; padding-bottom: 15px;">
                <div class="switch" style="display: inline-block; margin-right: 5px;">
                  <label>
                    Off
                    {% if editor %}
                    <input type="checkbox">
                    {% else %}
                    <input disabled type="checkbox">
                    {% endif %}
                    <span class="lever"></span>
                    On
                  </label>
                </div>
                <a href="#modal-link-protection" class="btn purple darken-4"><i class="fa fa-cog" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="row">
              <td class="col s10" style="margin-top:15px; padding-bottom: 15px;">
                <strong>Caps Filter</strong><br />
                This filter will remove any filters where the messages are mostly all capital letters. It is particularly useful to stopping your chat becoming a shouting match.
              </td>
              <td class="col s2" style="margin-top:15px; padding-bottom: 15px;">
                <div class="switch" style="display: inline-block; margin-right: 5px;">
                  <label>
                    Off
                    {% if editor %}
                    <input type="checkbox">
                    {% else %}
                    <input disabled type="checkbox">
                    {% endif %}
                    <span class="lever"></span>
                    On
                  </label>
                </div>
                <a href="#modal-caps-filter" class="btn purple darken-4"><i class="fa fa-cog" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="row">
              <td class="col s10" style="margin-top:15px; padding-bottom: 15px;">
                <strong>Actions Filter</strong><br />
                This filter will delete any /me messages. It is particularly useful for stopping people trying to get your attention unnecessarily and preventing chat spam.
              </td>
              <td class="col s2" style="margin-top:15px; padding-bottom: 15px;">
                <div class="switch" style="display: inline-block; margin-right: 5px;">
                  <label>
                    Off
                    {% if editor %}
                    <input type="checkbox">
                    {% else %}
                    <input disabled type="checkbox">
                    {% endif %}
                    <span class="lever"></span>
                    On
                  </label>
                </div>
                <a href="#modal-actions-filter" class="btn purple darken-4"><i class="fa fa-cog" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="row">
              <td class="col s10" style="margin-top:15px; padding-bottom: 15px;">
                <strong>Banned Words</strong><br />
                This filter will remove any words/phrases you don't want on your channel. It is particularly useful for keeping your chat clean for younger audiences.
              </td>
              <td class="col s2" style="margin-top:15px; padding-bottom: 15px;">
                <div class="switch" style="display: inline-block; margin-right: 5px;">
                  <label>
                    Off
                    {% if editor %}
                    <input type="checkbox">
                    {% else %}
                    <input disabled type="checkbox">
                    {% endif %}
                    <span class="lever"></span>
                    On
                  </label>
                </div>
                <a href="#modal-banned-words" class="btn purple darken-4"><i class="fa fa-cog" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr>
              <td class="col s10" style="margin-top:15px; padding-bottom: 15px;">
                <strong>Paragraph Protecion</strong><br />
                This filter will removes message over a certain number of characters. It is particularly useful for making chat easy to moderate and read.
              </td>
              <td class="col s2" style="margin-top:15px; padding-bottom: 15px;">
                <div class="switch" style="display: inline-block; margin-right: 5px;">
                  <label>
                    Off
                    {% if editor %}
                    <input type="checkbox">
                    {% else %}
                    <input disabled type="checkbox">
                    {% endif %}
                    <span class="lever"></span>
                    On
                  </label>
                </div>
                <a href="#modal-paragraph-protection" class="btn purple darken-4"><i class="fa fa-cog" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr>
              <td class="col s10" style="margin-top:15px; padding-bottom: 15px;">
                <strong>Symbols Protection</strong><br />
                This filter will remove any messages with symbol spam. It is useful for keeping your chat clean, spam free and easily readable.
              </td>
              <td class="col s2" style="margin-top:15px; padding-bottom: 15px;">
                <div class="switch" style="display: inline-block; margin-right: 5px;">
                  <label>
                    Off
                    {% if editor %}
                    <input type="checkbox">
                    {% else %}
                    <input disabled type="checkbox">
                    {% endif %}
                    <span class="lever"></span>
                    On
                  </label>
                </div>
                <a href="#modal-symbols-protection" class="btn purple darken-4"><i class="fa fa-cog" aria-hidden="true"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="tab-commands">
        <h5 style="display: inline-block;">Custom Commands</h5>{% if editor %}<a style="float: right; display: inline" href="#modal-add-command" class="btn deep-purple darken-2 white-text modal-trigger">+ Add Command</a>
        <div id="modal-add-command" class="modal">
          <div class="modal-content">
            <h4>Add Custom Command</h4>
            <form class="col s12">
              <div class="input-field col s12">
                <input placeholder="!twitter" id="command_name" type="text">
                <label for="command_name">Command Name</label>
              </div>
              <div class="input-field col s12">
                <textarea id="command_response" class="materialize-textarea" placeholder="Check out my Twitter at https://twitter.com/Heepsbot!"></textarea>
                <label for="command_response">Command Response</label>
              </div>
              <div class="input-field col s12">
                <select id="command_userlevel">
                  <option selected>All Users</option>
                  <option>Twitch Turbo Users</option>
                  <option>Subscribers</option>
                  <option>Regulars</option>
                  <option>Moderators</option>
                  <option>Editors</option>
                  <option>Broadcaster</option>
                  <option>Twitch Global Moderators</option>
                  <option>Twitch Admins</option>
                  <option>Twitch Staff</option>
                  <option>Bot Admins</option>
                </select>
              </div>
              <div class="input-field col s6">
                <input placeholder="10" id="command_cost" type="number">
                <label for="command_cost">Command Points Cost</label>
              </div>
              <div class="input-field col s6">
                <input placeholder="5" id="command_reward" type="number">
                <label for="command_reward">Command Points Reward</label>
              </div>
              <div class="input-field col s12">
                <input placeholder="30" id="command_cooldown" type="number">
                <label for="command_cooldown">Command Cooldown</label>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-close btn-flat" id="add-command" data-user="{{owner}}">Add</a>
          </div>
        </div>
        {% endif %}
        <table class="bordered">
          <thead class="row">
            <th style="padding: 5px;" class="col s2">Command Name</th>
            <th style="padding: 5px;" class="col s8">Response</th>
            {% if editor %}
            <th  style="padding: 5px;"class="col s2">Actions</th>
            {% endif %}
          </thead>
          <tbody>
            {% for command in commands %}
              <tr class="row" style="margin-top: 5px;">
                <td class="col s2" style="padding: 5px;">{{command.name}}</td>
                <td class="col s8" style="padding: 5px;">{{command.response}}</td>
                {% if editor %}
                <td class="col s2" style="padding: 5px;">
                  <a class="btn orange darken-4 white-text modal-trigger" href="#modal-edit-{{command.name}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                  <a class="btn red darken-4 white-text modal-trigger" href="#modal-delete-{{command.name}}"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                </td>
                <div id="modal-edit-{{command.name}}" class="modal">
                  <div class="modal-content">
                    <h4>Edit Command - {{command.name}}</h4>
                    <form class="col s12">
                      <div class="input-field col s12">
                        <input value="{{command.name}}" placeholder="!twitter" id="edit-command_name-{{command.id}}" type="text" class="validate">
                        <label for="edit-command_name-{{command.id}}">Command Name</label>
                      </div>
                      <div class="input-field col s12">
                        <textarea id="edit-command_response-{{command.id}}" class="materialize-textarea" placeholder="Check out my Twitter at https://twitter.com/Heepsbot!">{{command.response}}</textarea>
                        <label for="edit-command_response-{{command.id}}">Command Response</label>
                      </div>
                      <div class="input-field col s12">
                        <select id="edit-command_userlevel-{{command.id}}">
                          <option>All Users</option>
                          <option>Twitch Turbo Users</option>
                          <option>Subscribers</option>
                          <option>Regulars</option>
                          <option>Moderators</option>
                          <option>Editors</option>
                          <option>Broadcaster</option>
                          <option>Twitch Global Moderators</option>
                          <option>Twitch Admins</option>
                          <option>Twitch Staff</option>
                          <option>Bot Admins</option>
                        </select>
                      </div>
                      <div class="input-field col s6">
                        <input value="{{command.cost}}" placeholder="10" id="edit-command_cost-{{command.id}}" type="number" class="validate">
                        <label for="edit-command_cost-{{command.id}}">Command Points Cost</label>
                      </div>
                      <div class="input-field col s6">
                        <input value="{{command.add}}" placeholder="5" id="edit-command_reward-{{command.id}}" type="number" class="validate">
                        <label for="edit-command_reward-{{command.id}}">Command Points Reward</label>
                      </div>
                      <div class="input-field col s12">
                        <input value="{{command.cooldown}}" placeholder="30" id="edit-command_cooldown-{{command.id}}" type="number" class="validate">
                        <label for="edit-command_cooldown-{{command.id}}">Command Cooldown</label>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <a href="#!" class="modal-close btn-flat" id="edit-command" data-channel="{{owner}}" data-id="{{command.id}}">Edit</a>
                  </div>
                </div>
                <div id="modal-delete-{{command.name}}" class="modal">
                  <div class="modal-content">
                    <h4>Confirm Action</h4>
                    <p>Are you sure you want to delete command {{command.name}}?</p>
                  </div>
                  <div class="modal-footer">
                    <a href="#!" class="modal-close btn-flat">No</a>
                    <a href="#!" class="modal-close btn-flat" id="delete-command" data-id="{{command.id}}">Yes</a>
                  </div>
                </div>
                {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div id="tab-levels">

      </div>
      <div id="tab-pollraffle">

      </div>
      <div id="tab-fun">

      </div>
      <div id="tab-points">

      </div>
    </div>
  </div>
</div>
<div id="modal-chat-logs" class="modal">
   <div class="modal-content">
     <h5>Chat Logs</h5>
     {% for log in logs %}
      {% if loop.index < 100 %}
        <span><strong>{{log.display_name}}:</strong> {{log.content}}</span><br />
      {% endif %}
     {% endfor %}
   </div>
   <div class="modal-footer">
     <a href="#!" class="btn right purple darken-4 modal-close">Close</a>
   </div>
 </div>
<script src="/js/twitch_commands.js"></script>
{% include "./footer.html" %}
