{% include "./header.html" %}
{% if twitch == "suspended" %}
<div class="row">
  <div class="col s10 offset-s1 white" style="border-radius:20px; margin-top:15px; padding: 15px;">
    <h4 class="center">Sorry!</h4>
  </div>
</div>
<div class="row">
  <div class="col s10 offset-s1 white" style="border-radius:20px; margin-top:15px; padding: 15px;">
    <p class="center">That account appears to be suspended from Twitch.</p>
  </div>
</div>
{% elseif twitch == "missing" %}
<div class="row">
  <div class="col s10 offset-s1 white" style="border-radius:20px; margin-top:15px; padding: 15px;">
    <h4 class="center">Sorry!</h4>
  </div>
</div>
<div class="row">
  <div class="col s10 offset-s1 white" style="border-radius:20px; margin-top:15px; padding: 15px;">
    <p class="center">That account doesn't seem to exist on Twitch.</p>
  </div>
</div>
{% else %}
<div class="row">
  <div class="col m3 hide-on-small">
    <div class="white center" style="border-radius:20px; margin-top:15px; padding: 15px;">
      <h4>{{twitch.display_name}}{% if !ends %}'s{% else %}'{% endif %} Dashboard</h4>
      {% if admin %}
      <a href="javascript:;" id="join-channel" class="btn purple darken-4 white-text">Join</a> <a href="javascript:;" id="part-channel" class="btn purple darken-4 white-text">Part</a><br /><br />
      {% endif %}
    </div>
    <div class="white" style="border-radius:20px; margin-top:15px; padding: 15px;">
      <h5 class="center">Chat</h5>
      <iframe frameborder="0" scrolling="no" id="chat_embed" src="http://www.twitch.tv/{{owner}}/chat" height="600" width="100%"></iframe>
    </div>
    <div class="white" style="border-radius:20px; margin-top:15px; padding: 15px;">
      <h5 class="center">Heepsbot Statistics</h5>
      Soon™
    </div>
  </div>
  {% if exists %}
  <div class="col m9 s12">
    <div class="white row" style="border-radius:20px; margin-top:15px; padding: 15px;">
      <h5 style="display: inline-block;">Spam Protection</h5><a style="float: right; display: inline" href="javascript:;" id="toggle-spam" class="btn deep-purple darken-2 white-text modal-trigger">- Hide Panel</a>
      <div id="panel-spam" class="panel-shown">
        <table class="bordered">
          <thead class="row">
            <th class="col s10">Filter</th>
            <th class="col s2">Options</th>
          </thead>
          <tbody>
            <tr class="row">
              <td class="col s10" style="margin-top:15px; padding-bottom: 15px;">
                <strong>Link Protection</strong><br />
                This filter will delete any links posted to your channel. It is particularly useful for stopping malware spreading into your chat.
              </td>
              <td class="col s2" style="margin-top:15px; padding-bottom: 15px;">
                <div class="switch" style="display: inline-block; margin-right: 5px;">
                  <label>
                    Off
                    {% if editor %}
                    <input type="checkbox">
                    {% else %}
                    <input disabled type="checkbox">
                    {% endif %}
                    <span class="lever"></span>
                    On
                  </label>
                </div>
                <a href="#modal-link-protection" class="btn purple darken-4"><i class="fa fa-cog" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="row">
              <td class="col s10" style="margin-top:15px; padding-bottom: 15px;">
                <strong>Caps Filter</strong><br />
                This filter will remove any filters where the messages are mostly all capital letters. It is particularly useful to stopping your chat becoming a shouting match.
              </td>
              <td class="col s2" style="margin-top:15px; padding-bottom: 15px;">
                <div class="switch" style="display: inline-block; margin-right: 5px;">
                  <label>
                    Off
                    {% if editor %}
                    <input type="checkbox">
                    {% else %}
                    <input disabled type="checkbox">
                    {% endif %}
                    <span class="lever"></span>
                    On
                  </label>
                </div>
                <a href="#modal-caps-filter" class="btn purple darken-4"><i class="fa fa-cog" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="row">
              <td class="col s10" style="margin-top:15px; padding-bottom: 15px;">
                <strong>Actions Filter</strong><br />
                This filter will delete any /me messages. It is particularly useful for stopping people trying to get your attention unnecessarily and preventing chat spam.
              </td>
              <td class="col s2" style="margin-top:15px; padding-bottom: 15px;">
                <div class="switch" style="display: inline-block; margin-right: 5px;">
                  <label>
                    Off
                    {% if editor %}
                    <input type="checkbox">
                    {% else %}
                    <input disabled type="checkbox">
                    {% endif %}
                    <span class="lever"></span>
                    On
                  </label>
                </div>
                <a href="#modal-actions-filter" class="btn purple darken-4"><i class="fa fa-cog" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="row">
              <td class="col s10" style="margin-top:15px; padding-bottom: 15px;">
                <strong>Banned Words</strong><br />
                This filter will remove any words/phrases you don't want on your channel. It is particularly useful for keeping your chat clean for younger audiences.
              </td>
              <td class="col s2" style="margin-top:15px; padding-bottom: 15px;">
                <div class="switch" style="display: inline-block; margin-right: 5px;">
                  <label>
                    Off
                    {% if editor %}
                    <input type="checkbox">
                    {% else %}
                    <input disabled type="checkbox">
                    {% endif %}
                    <span class="lever"></span>
                    On
                  </label>
                </div>
                <a href="#modal-banned-words" class="btn purple darken-4"><i class="fa fa-cog" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr>
              <td class="col s10" style="margin-top:15px; padding-bottom: 15px;">
                <strong>Paragraph Protecion</strong><br />
                This filter will removes message over a certain number of characters. It is particularly useful for making chat easy to moderate and read.
              </td>
              <td class="col s2" style="margin-top:15px; padding-bottom: 15px;">
                <div class="switch" style="display: inline-block; margin-right: 5px;">
                  <label>
                    Off
                    {% if editor %}
                    <input type="checkbox">
                    {% else %}
                    <input disabled type="checkbox">
                    {% endif %}
                    <span class="lever"></span>
                    On
                  </label>
                </div>
                <a href="#modal-paragraph-protection" class="btn purple darken-4"><i class="fa fa-cog" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr>
              <td class="col s10" style="margin-top:15px; padding-bottom: 15px;">
                <strong>Symbols Protection</strong><br />
                This filter will remove any messages with symbol spam. It is useful for keeping your chat clean, spam free and easily readable.
              </td>
              <td class="col s2" style="margin-top:15px; padding-bottom: 15px;">
                <div class="switch" style="display: inline-block; margin-right: 5px;">
                  <label>
                    Off
                    {% if editor %}
                    <input type="checkbox">
                    {% else %}
                    <input disabled type="checkbox">
                    {% endif %}
                    <span class="lever"></span>
                    On
                  </label>
                </div>
                <a href="#modal-symbols-protection" class="btn purple darken-4"><i class="fa fa-cog" aria-hidden="true"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="white" style="border-radius:20px; margin-top:15px; padding: 15px;">
      <h5 style="display: inline-block;">Commands</h5><a style="float: right; display: inline" href="javascript:;" id="toggle-commands" class="btn deep-purple darken-2 white-text modal-trigger">- Hide Panel</a>
      <div id="panel-commands">
        <ul class="tabs">
          <li class="tab col s4"><a href="#tab-custom">Custom Commands</a></li>
          <li class="tab col s4"><a href="#tab-commands">Built-In Commands</a></li>
        </ul>
        <div id="tab-custom">
          {% if editor %}<a style="float: right; display: inline" href="#modal-add-command" class="btn deep-purple darken-2 white-text modal-trigger">+ Add Command</a>
          <div id="modal-add-command" class="modal">
            <div class="modal-content">
              <h4>Add Custom Command</h4>
              <form class="col s12">
                <div class="input-field col s12">
                  <input placeholder="!twitter" id="command_name" type="text">
                  <label for="command_name">Command Name</label>
                </div>
                <div class="input-field col s12">
                  <textarea id="command_response" class="materialize-textarea" placeholder="Check out my Twitter at https://twitter.com/Heepsbot!"></textarea>
                  <label for="command_response">Command Response</label>
                </div>
                <div class="input-field col s12">
                  <select id="command_userlevel">
                    <option selected>All Users</option>
                    <option>Twitch Turbo Users</option>
                    <option>Subscribers</option>
                    <option>Regulars</option>
                    <option>Moderators</option>
                    <option>Editors</option>
                    <option>Broadcaster</option>
                    <option>Twitch Global Moderators</option>
                    <option>Twitch Admins</option>
                    <option>Twitch Staff</option>
                    <option>Bot Admins</option>
                  </select>
                </div>
                <div class="input-field col s6">
                  <input placeholder="10" id="command_cost" type="number">
                  <label for="command_cost">Command Points Cost</label>
                </div>
                <div class="input-field col s6">
                  <input placeholder="5" id="command_reward" type="number">
                  <label for="command_reward">Command Points Reward</label>
                </div>
                <div class="input-field col s12">
                  <input placeholder="30" id="command_cooldown" type="number">
                  <label for="command_cooldown">Command Cooldown</label>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <a href="#!" class="modal-close btn-flat" id="add-command" data-user="{{owner}}">Add</a>
            </div>
          </div>
          {% endif %}
          <table class="bordered">
            <thead class="row">
              <th style="padding: 5px;" class="col s2">Command Name</th>
              <th style="padding: 5px;" class="col s8">Response</th>
              {% if editor %}
              <th  style="padding: 5px;"class="col s2">Actions</th>
              {% endif %}
            </thead>
            <tbody>
              {% for command in commands %}
              <tr class="row" style="margin-top: 5px;">
                <td class="col s2" style="padding: 5px;">{{command.name}}</td>
                <td class="col s8" style="padding: 5px;">{{command.response}}</td>
                {% if editor %}
                <td class="col s2" style="padding: 5px;">
                  <a class="btn orange darken-4 white-text modal-trigger" href="#modal-edit-{{command.name}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                  <a class="btn red darken-4 white-text modal-trigger" href="#modal-delete-{{command.name}}"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                </td>
                <div id="modal-edit-{{command.name}}" class="modal">
                  <div class="modal-content">
                    <h4>Edit Command - {{command.name}}</h4>
                    <form class="col s12">
                      <div class="input-field col s12">
                        <input value="{{command.name}}" placeholder="!twitter" id="edit-command_name-{{command.id}}" type="text" class="validate">
                        <label for="edit-command_name-{{command.id}}">Command Name</label>
                      </div>
                      <div class="input-field col s12">
                        <textarea id="edit-command_response-{{command.id}}" class="materialize-textarea" placeholder="Check out my Twitter at https://twitter.com/Heepsbot!">{{command.response}}</textarea>
                        <label for="edit-command_response-{{command.id}}">Command Response</label>
                      </div>
                      <div class="input-field col s12">
                        <select id="edit-command_userlevel-{{command.id}}">
                          <option>All Users</option>
                          <option>Twitch Turbo Users</option>
                          <option>Subscribers</option>
                          <option>Regulars</option>
                          <option>Moderators</option>
                          <option>Editors</option>
                          <option>Broadcaster</option>
                          <option>Twitch Global Moderators</option>
                          <option>Twitch Admins</option>
                          <option>Twitch Staff</option>
                          <option>Bot Admins</option>
                        </select>
                      </div>
                      <div class="input-field col s6">
                        <input value="{{command.cost}}" placeholder="10" id="edit-command_cost-{{command.id}}" type="number" class="validate">
                        <label for="edit-command_cost-{{command.id}}">Command Points Cost</label>
                      </div>
                      <div class="input-field col s6">
                        <input value="{{command.add}}" placeholder="5" id="edit-command_reward-{{command.id}}" type="number" class="validate">
                        <label for="edit-command_reward-{{command.id}}">Command Points Reward</label>
                      </div>
                      <div class="input-field col s12">
                        <input value="{{command.cooldown}}" placeholder="30" id="edit-command_cooldown-{{command.id}}" type="number" class="validate">
                        <label for="edit-command_cooldown-{{command.id}}">Command Cooldown</label>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <a href="#!" class="modal-close btn-flat" id="edit-command" data-channel="{{owner}}" data-id="{{command.id}}">Edit</a>
                  </div>
                </div>
                <div id="modal-delete-{{command.name}}" class="modal">
                  <div class="modal-content">
                    <h4>Confirm Action</h4>
                    <p>Are you sure you want to delete command {{command.name}}?</p>
                  </div>
                  <div class="modal-footer">
                    <a href="#!" class="modal-close btn-flat">No</a>
                    <a href="#!" class="modal-close btn-flat" id="delete-command" data-id="{{command.id}}">Yes</a>
                  </div>
                </div>
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div id="tab-commands">
          <table>
            <thead class="row">
              <th class="col s10">Command</th>
              <th class="col s2">Options</th>
            </thead>
            <tbody>
              <tr class="row">
                <td class="col s10" style="margin-top:15px; padding-bottom: 15px;">
                  <strong>Uptime</strong><br />
                  Allows users to be able to check how long the stream has been live.
                </td>
                <td class="col s2" style="margin-top:15px; padding-bottom: 15px;">
                  <div class="switch" style="display: inline-block; margin-right: 5px;">
                    <label>
                      Off
                      {% if editor %}
                      <input type="checkbox">
                      {% else %}
                      <input disabled type="checkbox">
                      {% endif %}
                      <span class="lever"></span>
                      On
                    </label>
                  </div>
                  <a href="#modal-command-uptime" class="btn purple darken-4"><i class="fa fa-cog" aria-hidden="true"></i></a>
                </td>
              </tr>
              <tr class="row">
                <td class="col s10" style="margin-top:15px; padding-bottom: 15px;">
                  <strong>Chatters</strong><br />
                  Posts the total number of users logged in to chat.
                </td>
                <td class="col s2" style="margin-top:15px; padding-bottom: 15px;">
                  <div class="switch" style="display: inline-block; margin-right: 5px;">
                    <label>
                      Off
                      {% if editor %}
                      <input type="checkbox">
                      {% else %}
                      <input disabled type="checkbox">
                      {% endif %}
                      <span class="lever"></span>
                      On
                    </label>
                  </div>
                  <a href="#modal-command-chatters" class="btn purple darken-4"><i class="fa fa-cog" aria-hidden="true"></i></a>
                </td>
              </tr>
              <tr class="row">
                <td class="col s10" style="margin-top:15px; padding-bottom: 15px;">
                  <strong>8Ball</strong><br />
                  Post an answer to a yes/no question from a bank of options. <sub>Don't rely on this being accurate.</sub>
                </td>
                <td class="col s2" style="margin-top:15px; padding-bottom: 15px;">
                  <div class="switch" style="display: inline-block; margin-right: 5px;">
                    <label>
                      Off
                      {% if editor %}
                      <input type="checkbox">
                      {% else %}
                      <input disabled type="checkbox">
                      {% endif %}
                      <span class="lever"></span>
                      On
                    </label>
                  </div>
                  <a href="#modal-command-magic" class="btn purple darken-4"><i class="fa fa-cog" aria-hidden="true"></i></a>
                </td>
              </tr>
              <tr class="row">
                <td class="col s10" style="margin-top:15px; padding-bottom: 15px;">
                  <strong>Roulette</strong><br />
                  Anyone using this command has a chance of being timed out.
                </td>
                <td class="col s2" style="margin-top:15px; padding-bottom: 15px;">
                  <div class="switch" style="display: inline-block; margin-right: 5px;">
                    <label>
                      Off
                      {% if editor %}
                      <input type="checkbox">
                      {% else %}
                      <input disabled type="checkbox">
                      {% endif %}
                      <span class="lever"></span>
                      On
                    </label>
                  </div>
                  <a href="#modal-command-roulette" class="btn purple darken-4"><i class="fa fa-cog" aria-hidden="true"></i></a>
                </td>
              </tr>
              <tr class="row">
                <td class="col s10" style="margin-top:15px; padding-bottom: 15px;">
                  <strong>Love</strong><br />
                  Posts a random percentage of love between two users.
                </td>
                <td class="col s2" style="margin-top:15px; padding-bottom: 15px;">
                  <div class="switch" style="display: inline-block; margin-right: 5px;">
                    <label>
                      Off
                      {% if editor %}
                      <input type="checkbox">
                      {% else %}
                      <input disabled type="checkbox">
                      {% endif %}
                      <span class="lever"></span>
                      On
                    </label>
                  </div>
                  <a href="#modal-command-love" class="btn purple darken-4"><i class="fa fa-cog" aria-hidden="true"></i></a>
                </td>
              </tr>
              <tr class="row">
                <td class="col s10" style="margin-top:15px; padding-bottom: 15px;">
                  <strong>Get</strong><br />
                  Gets data directly from the Twitch API.
                </td>
                <td class="col s2" style="margin-top:15px; padding-bottom: 15px;">
                  <div class="switch" style="display: inline-block; margin-right: 5px;">
                    <label>
                      Off
                      {% if editor %}
                      <input type="checkbox">
                      {% else %}
                      <input disabled type="checkbox">
                      {% endif %}
                      <span class="lever"></span>
                      On
                    </label>
                  </div>
                  <a href="#modal-command-get" class="btn purple darken-4"><i class="fa fa-cog" aria-hidden="true"></i></a>
                </td>
              </tr>
              <tr class="row">
                <td class="col s10" style="margin-top:15px; padding-bottom: 15px;">
                  <strong>Emote</strong><br />
                  Posts a line of Twitch Emotes. There are 6 on each line.
                </td>
                <td class="col s2" style="margin-top:15px; padding-bottom: 15px;">
                  <div class="switch" style="display: inline-block; margin-right: 5px;">
                    <label>
                      Off
                      {% if editor %}
                      <input type="checkbox">
                      {% else %}
                      <input disabled type="checkbox">
                      {% endif %}
                      <span class="lever"></span>
                      On
                    </label>
                  </div>
                  <a href="#modal-command-emote" class="btn purple darken-4"><i class="fa fa-cog" aria-hidden="true"></i></a>
                </td>
              </tr>
              <tr class="row">
                <td class="col s10" style="margin-top:15px; padding-bottom: 15px;">
                  <strong>OPEmote</strong><br />
                  Posts 15 lines of Twitch Emotes. There are 6 on each line.
                </td>
                <td class="col s2" style="margin-top:15px; padding-bottom: 15px;">
                  <div class="switch" style="display: inline-block; margin-right: 5px;">
                    <label>
                      Off
                      {% if editor %}
                      <input type="checkbox">
                      {% else %}
                      <input disabled type="checkbox">
                      {% endif %}
                      <span class="lever"></span>
                      On
                    </label>
                  </div>
                  <a href="#modal-command-opemote" class="btn purple darken-4"><i class="fa fa-cog" aria-hidden="true"></i></a>
                </td>
              </tr>
              <tr class="row">
                <td class="col s10" style="margin-top:15px; padding-bottom: 15px;">
                  <strong>Pyramid</strong><br />
                  Sends 5 pieces of a pyramid, in a random order.
                </td>
                <td class="col s2" style="margin-top:15px; padding-bottom: 15px;">
                  <div class="switch" style="display: inline-block; margin-right: 5px;">
                    <label>
                      Off
                      {% if editor %}
                      <input type="checkbox">
                      {% else %}
                      <input disabled type="checkbox">
                      {% endif %}
                      <span class="lever"></span>
                      On
                    </label>
                  </div>
                  <a href="#modal-command-pyramid" class="btn purple darken-4"><i class="fa fa-cog" aria-hidden="true"></i></a>
                </td>
              </tr>
              <tr class="row">
                <td class="col s10" style="margin-top:15px; padding-bottom: 15px;">
                  <strong>Shoutout</strong><br />
                  Promotes a channel of your choice.
                </td>
                <td class="col s2" style="margin-top:15px; padding-bottom: 15px;">
                  <div class="switch" style="display: inline-block; margin-right: 5px;">
                    <label>
                      Off
                      {% if editor %}
                      <input type="checkbox">
                      {% else %}
                      <input disabled type="checkbox">
                      {% endif %}
                      <span class="lever"></span>
                      On
                    </label>
                  </div>
                  <a href="#modal-command-shoutout" class="btn purple darken-4"><i class="fa fa-cog" aria-hidden="true"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="white" style="border-radius:20px; margin-top:15px; padding: 15px;">
      <h5 style="display: inline-block;">Features</h5><a style="float: right; display: inline" href="javascript:;" id="toggle-features" class="btn deep-purple darken-2 white-text modal-trigger">- Hide Panel</a>
      <div id="panel-features">
        <ul class="tabs">
          <li class="tab col s2"><a href="#tab-users">Users</a></li>
          <li class="tab col s2"><a href="#tab-interaction">Interaction</a></li>
          <li class="tab col s2"><a href="#tab-alerts">Chat Alerts</a></li>
          <li class="tab col s2"><a href="#tab-logs">Logs</a></li>
          <li class="tab col s2"><a href="#tab-events">Timed Events</a></li>
          <li class="tab col s2"><a href="#tab-points">Points</a></li>
        </ul>
        <div id="tab-users" class="row">
          <div class="col s6">
            <h5 class="center">Editors</h5>
            {% if admin %}
            <hr />
            <div class="row">
              <div class="input-field col s6 offset-s1">
                <input id="new_editor" type="text" class="validate">
                <label for="new_editor">Add Editor</label>
              </div>
              <div class="col s2 offset-s1">
                <a class="btn green darken-4" style="margin-top:25px" id="add-editor" data-channel="{{username}}"><i class="fa fa-plus" aria-hidden="true"></i></a>
              </div>
            </div>
            {% endif %}
            <hr style="margin: 0"/>
            <table class="bordered">
              <tbody id="editors">
                {% for user in editors %}
                <tr id="{{regular}}" class="row" style="margin-top: 5px;">
                  <td class="col s6 offset-s1" style="padding: 5px; margin-top: 8px;">{{user}}</td>
                  {% if admin %}
                  <td class="col s2 offset-s1" style="padding: 5px;"><a class="btn red darken-4 white-text modal-trigger" href="#modal-remove-editor-{{user}}"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
                  {% endif %}
                </tr>
                {% if admin %}
                <div id="modal-remove-editor-{{user}}" class="modal">
                  <div class="modal-content">
                    <h4>Confirm Action</h4>
                    <p>Are you sure you want to remove {{user}} as an editor?</p>
                  </div>
                  <div class="modal-footer">
                    <a href="#!" class="modal-close btn-flat white-text green darken-4">No</a>
                    <a href="#!" class="modal-close btn-flat white-text red darken-4" id="remove-editor" data-user="{{user}}" data-channel="{{username}}">Yes</a>
                  </div>
                </div>
                {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="col s6">
            <h5 class="center">Regulars</h5>
            {% if editor %}
            <hr />
            <div class="row">
              <div class="input-field col s6 offset-s1">
                <input id="new_regular" type="text" class="validate">
                <label for="new_regular">Add Regular</label>
              </div>
              <div class="col s2 offset-s1">
                <a class="btn green darken-4" style="margin-top:25px" id="add-regular" data-channel="{{username}}"><i class="fa fa-plus" aria-hidden="true"></i></a>
              </div>
            </div>
            {% endif %}
            <hr style="margin: 0"/>
            <table class="bordered">
              <tbody id="regulars">
                {% for regular in regulars %}
                <tr id="{{regular}}" class="row" style="margin-top: 5px;">
                  <td class="col s6 offset-s1" style="padding: 5px; margin-top: 8px;">{{regular}}</td>
                  {% if editor %}
                  <td class="col s2 offset-s1" style="padding: 5px;"><a class="btn red darken-4 white-text modal-trigger" href="#modal-remove-regular-{{regular}}"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
                  {% endif %}
                </tr>
                {% if editor %}
                <div id="modal-remove-regular-{{regular}}" class="modal">
                  <div class="modal-content">
                    <h4>Confirm Action</h4>
                    <p>Are you sure you want to remove {{regular}} as a regular?</p>
                  </div>
                  <div class="modal-footer">
                    <a href="#!" class="modal-close btn-flat white-text green darken-4">No</a>
                    <a href="#!" class="modal-close btn-flat white-text red darken-4" id="remove-regular" data-user="{{regular}}" data-channel="{{username}}">Yes</a>
                  </div>
                </div>
                {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="white" style="border-radius:20px; margin-top:15px; padding: 15px;">
      <h5 style="display: inline-block;">Documentation</h5><a style="float: right; display: inline" href="javascript:;" id="toggle-documentation" class="btn deep-purple darken-2 white-text modal-trigger">- Hide Panel</a>
      <div id="panel-documentation">
        <ul class="tabs">
          <li class="tab col s6"><a href="#tab-levels">User Levels</a></li>
          <li class="tab col s6"><a href="#tab-string">String Replacements</a></li>
        </ul>
        <div id="tab-users" class="row">
        </div>
      </div>
    </div>
  </div>
  <div id="modal-chat-logs" class="modal">
    <div class="modal-content">
      <h5>Chat Logs</h5>
      {% for log in logs %}
      {% if loop.index < 100 %}
      <span><strong>{{log.display_name}}:</strong> {{log.content}}</span><br />
      {% endif %}
      {% endfor %}
    </div>
    <div class="modal-footer">
      <a href="#!" class="btn right purple darken-4 modal-close">Close</a>
    </div>
  </div>
  {% else %}
  <div class="row">
    <div class="col m9 s12 white" style="border-radius:20px; margin-top:15px; padding: 15px;">
      <h4 class="center">Sorry!</h4>
    </div>
    <div class="col m9 s12 white" style="border-radius:20px; margin-top:15px; padding: 15px;">
      <p class="center">It appears that {{twitch.display_name}} has not set up Heepsbot correctly, and this part of the dashboard therefore cannot be displayed.</p>
    </div>
  </div>
  {% endif %}
  <script src="/js/twitch_commands.js"></script>
  <script src="/js/users.js"></script>
  {% endif %}
  <script src="/js/twitch_dashboard.js"></script>
  {% include "./footer.html" %}
