│.nav-wrapper .dropdown-content {
	margin-top:64px
}

.dropdown-content li:hover, .dropdown-content li.active, .dropdown-content li.selected {
	background-color: inherit;
}

input[type=text]:focus:not([readonly])#new_editor, input[type=text]:focus:not([readonly])#new_regular, input[type=text]:not([readonly])#new_editor, input[type=text]:not([readonly])#new_regular {
	border-bottom: 1px solid #000;
	box-shadow: 0 1px 0 0 #000;
}

.input-field label[for="new_editor"], .input-field label[for="new_regular"], input[type=text]:focus:not([readonly])#new_editor+label, input[type=text]:focus:not([readonly])#new_regular+label {
	color: #000;
}

select {
	display: inline-block;
}

.switch-toggle label:after, .switch-toggle label:before {
	display: none;
}

.twitch-body-theme .tabs .tab a {
	color: #6441A5;
}

.twitch-body-theme .tabs .tab a:hover {
	color: #4a148c;
}

.twitch-body-theme .tabs .indicator {
	background-color: #6441A5;
}

.twitch-body-theme .switch label input[type=checkbox]:checked+.lever {
	background-color: #9a7fcc;
}

.twitch-body-theme .switch label input[type=checkbox]:checked+.lever:after {
	background-color: #6441A5;
}

/*.twitch-body-theme .switch-candy a {
	background-color: #B9A3E3;
	box-shadow: 0;
}

.switch-candy.switch-toggle {
	padding: 20px 0 !important;
}

.switch-candy label {
	padding: 5px !important;
}*/

.panel-hidden {
	display: none;
}
